<div id="phasebeam">
  <canvas></canvas>
  <canvas></canvas>
  <canvas></canvas>
</div>
<img src="image/smallLogoBlue.png" style="display:none;" alt="Logo" id="logoBgPNG"/>
<script src="<%- config.root %>js/phasebeam.js"></script>